@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  min-width: 320px;

  font-family: $main-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;

  color: $font-color-dark;

  @include mq(desktop) {
    background-color: #fffff9;
  }
}
