<section class="contact">
    <div class="container">
        <h2 class="contact__title">
            Contact
        </h2>
        <p class="contact__description">
            We will answer any question!
        </p>
        <form class="contact__form">
            <label class="contact__label">
                <input
                type="email"
                class="contact__input"
                placeholder="Email" />
            </label>
            <label class="contact__label">
                <input
                type="text"
                class="contact__input"
                placeholder="Type your questions">
            </label>
            <button
            type="submit"
            class="contact__button btn">
                <span class="contact__send">
                    Send
                </span>
            </button>
        </form>
    </div>
</section>