<footer class="footer">
    <div class="container">
        <ul class="footer__socials-list list">
            <li class="footer__social-item">
                <a href="" class="footer__social-link link"
                target="_blank"
                rel="noreferrer noopener"
                title="Twitter">
                    <svg class="footer__social-icon" width="16" height="16">
                        <use href="./images/footer/footer-sprite.svg#icon-twitter">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="footer__social-item">
                <a href="" class="footer__social-link link"
                target="_blank"
                rel="noreferrer noopener"
                title="Instagram">
                    <svg class="footer__social-icon" width="16" height="16">
                        <use href="./images/footer/footer-sprite.svg#icon-instagram">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="footer__social-item">
                <a href="" class="footer__social-link link"
                target="_blank"
                rel="noreferrer noopener"
                title="Facebook">
                    <svg class="footer__social-icon" width="16" height="16">
                        <use href="./images/footer/footer-sprite.svg#icon-facebook">
                        </use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="footer__bottom">
            <a href="tel:9102228855" class="footer__telephone link">
                <svg class="footer__icon" width="16" height="16">
                    <use href="./images/footer/footer-sprite.svg#icon-telephone">
                    </use>
                </svg>
                (910)222-8855
            </a>
            <p class="footer__location">
                <svg class="footer__icon" width="16" height="16">
                    <use href="./images/footer/footer-sprite.svg#icon-location">
                    </use>
                </svg>
                New York
            </p>
        </div>
    </div>
    <picture>
          <!-- Набір зображень для десктопних екранів -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/footer/desk/webp/wheat-flour-302.webp 1x,
              ./images/footer/desk/webp/wheat-flour-604.webp 2x
            "
            type="image/webp"
          />
          
          <!-- Набір зображень для планшетних екранів -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/footer/tab/webp/wheat-flour-184.webp 1x,
              ./images/footer/tab/webp/wheat-flour-368.webp 2x
            "
            type="image/webp"
          />

          <!-- Набір зображень для мобільних екранів -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/footer/mob/webp/wheat-flour-84.webp 1x,
              ./images/footer/mob/webp/wheat-flour-168.webp 2x
            "
            type="image/webp"
          />

          <img
            class="footer__pic"
            src="./images/footer/mob/png/wheat-flour-84.png"
            alt="flour in a bowl"
            width="84"
            height="73"
          />
    </picture>
</footer>