<header class="header-hero">
  <div class="container header-hero__container">
    <div class="header">
      <a class="link logo" href="./index.html">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/header/logo/logo-desk.png    1x,
              ./images/header/logo/logo@2x-desk.png 2x
            "
            type="image/png"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/header/logo/logo-tab.png    1x,
              ./images/header/logo/logo@2x-tab.png 2x
            "
            type="image/png"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/header/logo/logo-desk.png    1x,
              ./images/header/logo/logo@2x-desk.png 2x
            "
            type="image/png"
          />

          <img
            src="./images/header/logo/logo-mob.png"
            alt="logo__pic"
            width="96"
            height="44"
          />
        </picture>
      </a>

      <button class="btn burger-btn">
        <svg class="burger-btn__icon">
          <use href="#"></use>
          <use href="#"></use>
        </svg>
      </button>

      <nav class="navigation">
        <ul class="list">
          <li>
            <a class="link" href="">About us</a>
          </li>
          <li>
            <a class="link" href="">Program</a>
          </li>
          <li>
            <a class="link" href="">Reviews</a>
          </li>
          <li>
            <a class="link" href="">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="hero">
      <h1 class="hero__title">Donut Masterclass with the Donut King</h1>

      <p class="hero__subtitle">Hosted by Eva Green</p>

      <button class="btn hero__btn-reg" type="button">Register</button>

      <ul class="list socials hero__socials">
        <li class="socials__item">
          <a class="link socials__link" href="">
            <svg class="socials__icon" width="16" height="16">
              <use href="./images/sprite.svg#tvitter-icon"></use>
            </svg>
          </a>
        </li>

        <li class="socials__item">
          <a class="link socials__link" href="">
            <svg class="socials__icon" width="16" height="16">
              <use href="./images/sprite.svg#inst-icon"></use>
            </svg>
          </a>
        </li>

        <li class="socials__item">
          <a class="link socials__link" href="">
            <svg class="socials__icon" width="16" height="16">
              <use href="./images/sprite.svg#fb-icon"></use>
            </svg>
          </a>
        </li>
      </ul>

      <!-- ПОНЧИКИ -->
      <ul class="list donut-group">
        <li class="donut-group__item donut-group__item--1">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/desk/png/1-desk.png    1x,
                ./images/header/donut/desk/png/1@2x-desk.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/tab/png/1-tab.png    1x,
                ./images/header/donut/tab/png/1@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/mob/png/1-mob.png    1x,
                ./images/header/donut/mob/png/1@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              class="donut-group__img donut-group__img--1"
              src="./images/header/donut/mob/png/1-mob.png "
              alt="logo"
              width="64"
              height="71"
            />
          </picture>
        </li>
        <li class="donut-group__item donut-group__item--2">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/desk/png/2-desk.png    1x,
                ./images/header/donut/desk/png/2@2x-desk.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/tab/png/2-tab.png    1x,
                ./images/header/donut/tab/png/2@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/mob/png/2-mob.png    1x,
                ./images/header/donut/mob/png/2@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              class="donut-group__img donut-group__img--2"
              src="./images/header/donut/mob/png/2-mob.png "
              alt="logo"
              width="35"
              height="39"
            />
          </picture>
        </li>
        <li class="donut-group__item donut-group__item--3">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/desk/png/3-desk.png    1x,
                ./images/header/donut/desk/png/3@2x-desk.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/tab/png/3-tab.png    1x,
                ./images/header/donut/tab/png/3@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/mob/png/3-mob.png    1x,
                ./images/header/donut/mob/png/3@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              class="donut-group__img donut-group__img--3"
              src="./images/header/donut/mob/png/3-mob.png "
              alt="logo"
              width="68"
              height="75"
            />
          </picture>
        </li>
        <li class="donut-group__item donut-group__item--4">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/desk/png/4-desk.png    1x,
                ./images/header/donut/desk/png/4@2x-desk.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/tab/png/4-tab.png    1x,
                ./images/header/donut/tab/png/4@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/mob/png/4-mob.png    1x,
                ./images/header/donut/mob/png/4@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              class="donut-group__img donut-group__img--4"
              src="./images/header/donut/mob/png/4-mob.png "
              alt="logo"
              width="44"
              height="49"
            />
          </picture>
        </li>
        <li class="donut-group__item donut-group__item--5">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/desk/png/5-desk.png    1x,
                ./images/header/donut/desk/png/5@2x-desk.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/tab/png/5-tab.png    1x,
                ./images/header/donut/tab/png/5@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/mob/png/5-mob.png    1x,
                ./images/header/donut/mob/png/5@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              class="donut-group__img donut-group__img--5"
              src="./images/header/donut/mob/png/5-mob.png "
              alt="logo"
              width="35"
              height="38"
            />
          </picture>
        </li>
        <li class="donut-group__item donut-group__item--6">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/desk/png/6-desk.png    1x,
                ./images/header/donut/desk/png/6@2x-desk.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/tab/png/6-tab.png    1x,
                ./images/header/donut/tab/png/6@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/mob/png/6-mob.png    1x,
                ./images/header/donut/mob/png/6@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              class="donut-group__img donut-group__img--6"
              src="./images/header/donut/mob/png/6-mob.png "
              alt="logo"
              width="29"
              height="33"
            />
          </picture>
        </li>
        <li class="donut-group__item donut-group__item--7">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/desk/png/7-desk.png    1x,
                ./images/header/donut/desk/png/7@2x-desk.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/tab/png/7-tab.png    1x,
                ./images/header/donut/tab/png/7@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/mob/png/7-mob.png    1x,
                ./images/header/donut/mob/png/7@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              class="donut-group__img donut-group__img--7"
              src="./images/header/donut/mob/png/7-mob.png "
              alt="logo"
              width="59"
              height="66"
            />
          </picture>
        </li>
        <li class="donut-group__item donut-group__item--8">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/desk/png/8-desk.png    1x,
                ./images/header/donut/desk/png/8@2x-desk.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/tab/png/8-tab.png    1x,
                ./images/header/donut/tab/png/8@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/mob/png/8-mob.png    1x,
                ./images/header/donut/mob/png/8@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              class="donut-group__img donut-group__img--8"
              src="./images/header/donut/mob/png/8-mob.png "
              alt="logo"
              width="29"
              height="32"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</header>
