<header>
  <div class="container">
    <div class="header">
      <a class="link" href="./index.html">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/header/logo-desk.png    1x,
              ./images/header/logo@2x-desk.png 2x
            "
            type="image/png"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/header/logo-tab.png    1x,
              ./images/header/logo@2x-tab.png 2x
            "
            type="image/png"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/header/logo-desk.png    1x,
              ./images/header/logo@2x-desk.png 2x
            "
            type="image/png"
          />

          <img
            src="./images/header/logo-mob.png"
            alt="logo"
            width="96"
            height="44"
          />
        </picture>
      </a>
      <ul class="list">
        <li>
          <a class="link" href="">About us</a>
        </li>
        <li>
          <a class="link" href="">Program</a>
        </li>
        <li>
          <a class="link" href="">Reviews</a>
        </li>
        <li>
          <a class="link" href="">Contacts</a>
        </li>
      </ul>
    </div>

    <div class="hero">
      <h1 class="hero__title">Donut Masterclass with the Donut King</h1>

      <p class="hero__subtitle">Hosted by Eva Green</p>

      <button class="btn" type="button"></button>

      <ul class="list">
        <li>
          <a class="link" href="">
            <svg width="16" height="16">
              <use href="#"></use>
            </svg>
          </a>
        </li>

        <li>
          <a class="link" href="">
            <svg width="16" height="16">
              <use href="#"></use>
            </svg>
          </a>
        </li>

        <li>
          <a class="link" href="">
            <svg width="16" height="16">
              <use href="#"></use>
            </svg>
          </a>
        </li>
      </ul>

      <ul class="list">
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/1.png    1x,
                ./images/header/donut/1@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/1-tab.png    1x,
                ./images/header/donut/1@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/1-mob.png    1x,
                ./images/header/donut/1@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              src="./images/header/donut/1-mob.png "
              alt="logo"
              width="64"
              height="71"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/2.png    1x,
                ./images/header/donut/2@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/2-tab.png    1x,
                ./images/header/donut/2@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/2-mob.png    1x,
                ./images/header/donut/2@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              src="./images/header/donut/2-mob.png "
              alt="logo"
              width="35"
              height="39"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/3.png    1x,
                ./images/header/donut/3@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/3-tab.png    1x,
                ./images/header/donut/3@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/3-mob.png    1x,
                ./images/header/donut/3@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              src="./images/header/donut/3-mob.png "
              alt="logo"
              width="68"
              height="75"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/4.png    1x,
                ./images/header/donut/4@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/4-tab.png    1x,
                ./images/header/donut/4@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/4-mob.png    1x,
                ./images/header/donut/4@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              src="./images/header/donut/4-mob.png "
              alt="logo"
              width="44"
              height="49"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/5.png    1x,
                ./images/header/donut/5@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/5-tab.png    1x,
                ./images/header/donut/5@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/5-mob.png    1x,
                ./images/header/donut/5@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              src="./images/header/donut/5-mob.png "
              alt="logo"
              width="35"
              height="38"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/6.png    1x,
                ./images/header/donut/6@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/6-tab.png    1x,
                ./images/header/donut/6@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/6-mob.png    1x,
                ./images/header/donut/6@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              src="./images/header/donut/6-mob.png "
              alt="logo"
              width="29"
              height="33"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/7.png    1x,
                ./images/header/donut/7@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/7-tab.png    1x,
                ./images/header/donut/7@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/7-mob.png    1x,
                ./images/header/donut/7@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              src="./images/header/donut/7-mob.png "
              alt="logo"
              width="59"
              height="66"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/header/donut/8.png    1x,
                ./images/header/donut/8@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/header/donut/8-tab.png    1x,
                ./images/header/donut/8@2x-tab.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/header/donut/8-mob.png    1x,
                ./images/header/donut/8@2x-mob.png 2x
              "
              type="image/png"
            />

            <img
              src="./images/header/donut/8-mob.png "
              alt="logo"
              width="29"
              height="32"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</header>
