    <a class="link" href="./index.html">
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/header/logo/logo-desk.png    1x,
          ./images/header/logo/logo@2x-desk.png 2x
        "
        type="image/png"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/header/logo/logo-tab.png    1x,
          ./images/header/logo/logo@2x-tab.png 2x
        "
        type="image/png"
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/header/logo/logo-desk.png    1x,
          ./images/header/logo/logo@2x-desk.png 2x
        "
        type="image/png"
      />

      <img
        src="./images/header/logo/logo-mob.png"
        alt="logo"
        width="96"
        height="44"
      />
    </picture>
  </a>
  <ul class="menu_list">
    <li class="menu_item"></li>
    <li class="menu_item"></li>
    <li class="menu_item"></li>
    <li class="menu_item"></li>
  </ul>
