<section class="program" id="program">
  <div class="container">
    <div class="program__wrap">
      <div class="program__article">
        <h2 class="program__title">Program</h2>
        <article class="article read_more">
          <p class="program__text">
            Indulge in this immersive sweet treat experience with The Chef Donut
            Queen in her New York donut shop!
          </p>
          <span class="program__text program__text--string"
            >A stand up history of donuts</span
          >
          <span class="program__text program__text--string"
            >Make 3 donut flavors of your choice</span
          >
          <span class="program__text program__text--string"
            >Enjoy all-you-can-eat donuts</span
          >
          <span class="program__text program__text--string"
            >Cocktail pairings and coffee included</span
          >
          <span class="program__text program__text--string"
            >Photoshoot by professional photographer</span
          >
          <span class="program__text program__text--string"
            >Secret receipt of cooking from Eva</span
          >
          <span class="program__text program__text--string"
            >All products are included in the price</span
          >
          <p class="program__text">
            Come with your dear people and friends and you will spend an
            unforgettable time and will become a real professional in donuts
            cooking!
          </p>
        </article>
        <button class="program__article_btn">Read more</button>
      </div>
      <div class="program__donuts">
        <ul class="program__list">
          <li class="program__item">
            <picture class="program__pct">
              <!-- Набір зображень для десктопних екранів -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/program/desk/png/desckDonut_1@1x.png 1x,
                  ./images/program/desk/png/desckDonut_1@2x.png 2x
                "
                type="image/jpg"
              />
              <!-- Набір зображень для планшетних екранів -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/program/tab/png/tabletDonut_1@1x.png 1x,
                  ./images/program/tab/png/tabletDonut_1@2x.png 2x
                "
                type="image/jpg"
              />
              <!-- Набір зображень для мобільних екранів -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/program/mob/png/mobDonut_1@1x.png 1x,
                  ./images/program/mob/png/mobDonut_1@2x.png 2x
                "
                type="image/jpg"
              />

              <img
                src="./images/program/desk/jpg/desckDonut_1@1x.jpg"
                alt="Donut"
              />
            </picture>
            <h3 class="program__item_title">Type of the event</h3>
            <span class="program__item_string">Cooking classes</span>
            <svg class="program__svg program__svg--chef-hat">
              <use href="./images/sprite.svg#icon-chef-hat"></use>
            </svg>
          </li>

          <li class="program__item">
            <picture class="program__pct">
              <!-- Набір зображень для десктопних екранів -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/program/desk/png/desckDonut_2@1x.png 1x,
                  ./images/program/desk/png/desckDonut_2@2x.png 2x
                "
                type="image/jpg"
              />
              <!-- Набір зображень для планшетних екранів -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/program/tab/png/tabletDonut_2@1x.png 1x,
                  ./images/program/tab/png/tabletDonut_2@2x.png 2x
                "
                type="image/jpg"
              />
              <!-- Набір зображень для мобільних екранів -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/program/mob/png/mobDonut_2@1x.png 1x,
                  ./images/program/mob/png/mobDonut_2@2x.png 2x
                "
                type="image/jpg"
              />

              <img
                src="./images/program/desk/jpg/desckDonut_3@1x.jpg"
                alt="Donut"
              />
            </picture>
            <h3 class="program__item_title">Number of guests</h3>
            <span class="program__item_string">1 to 20</span
            ><svg class="program__svg program__svg--people">
              <use href="./images/sprite.svg#icon-people"></use>
            </svg>
          </li>

          <li class="program__item">
            <picture class="program__pct">
              <!-- Набір зображень для десктопних екранів -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/program/desk/png/desckDonut_3@1x.png 1x,
                  ./images/program/desk/png/desckDonut_3@2x.png 2x
                "
                type="image/jpg"
              />
              <!-- Набір зображень для планшетних екранів -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/program/tab/png/tabletDonut_3@1x.png 1x,
                  ./images/program/tab/png/tabletDonut_3@2x.png 2x
                "
                type="image/jpg"
              />
              <!-- Набір зображень для мобільних екранів -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/program/mob/png/mobDonut_3@1x.png 1x,
                  ./images/program/mob/png/mobDonut_3@2x.png 2x
                "
                type="image/jpg"
              />

              <img
                src="./images/program/desk/jpg/desckDonut_2@1x.jpg"
                alt="Donut"
              />
            </picture>
            <h3 class="program__item_title">Time of the event</h3>
            <span class="program__item_string">18:30 (2.5 hours)</span>

            <svg class="program__svg program__svg--clock">
              <use href="./images/sprite.svg#icon-clock"></use>
            </svg>
          </li>
          <li class="program__item">
            <picture class="program__pct">
              <!-- Набір зображень для десктопних екранів -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/program/desk/png/desckDonut_4@1x.png 1x,
                  ./images/program/desk/png/desckDonut_4@2x.png 2x
                "
                type="image/jpg"
              />
              <!-- Набір зображень для планшетних екранів -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/program/tab/png/tabletDonut_4@1x.png 1x,
                  ./images/program/tab/png/tabletDonut_4@2x.png 2x
                "
                type="image/jpg"
              />
              <!-- Набір зображень для мобільних екранів -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/program/mob/png/mobDonut_4@1x.png 1x,
                  ./images/program/mob/png/mobDonut_4@2x.png 2x
                "
                type="image/jpg"
              />

              <img
                src="./images/program/desk/jpg/desckDonut_4@1x.jpg"
                alt="Donut"
              />
            </picture>
            <h3 class="program__item_title">The host speaks</h3>
            <span class="program__item_string">English, French</span>
            <svg class="program__svg program__svg--chat">
              <use href="./images/sprite.svg#icon-chat"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
