<section class="reviews">
  <h1 class="reviews-title">Rewiews</h1>
  <ul class="reviews-list">
    <li class="reviews-item">
      <img
        src="./images/reviews/pic.jpg"
        alt="фото человека"
        class="reviews-img"
      />
      <div class="reviews-star">
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
      </div>
      <p class="reviews-name">Ellis</p>
    </li>

    <li class="reviews-item">
      <img
        src="./images/reviews/pic.jpg"
        alt="фото человека"
        class="reviews-img"
      />
      <div class="reviews-star">
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
      </div>
      <p class="reviews-name">Will</p>
    </li>

    <li class="reviews-item">
      <img
        src="./images/reviews/pic.jpg"
        alt="фото человека"
        class="reviews-img"
      />
      <div class="reviews-star">
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews-icon">
          <use href="./images/sprite.svg#star-border"></use>
        </svg>
      </div>
      <p class="reviews-name">Billy</p>
    </li>
  </ul>
  <p class="reviews-text">
    Last time I have visited a cooking course by Eva I was impressed with the
    way she explained everything to people. You can be sure you will manage to
    cook a delicious dish even if it is your first time in the kitchen! Thank
    you so much for the masterclass! Looking forward to the next one and highly
    recommend it to everyone!
  </p>
  <p class="reviews-counter">2/15</p>
</section>
