<section class="reviews">
  <h1 class="reviews__title">Rewiews</h1>
  <ul class="reviews__list">
    <li class="reviews__item reviews__item--john">
      <picture>
        <!-- Набір зображень для десктопних екранів -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/reviews/desk/john@1x-desctop.png 1x,
            ./images/reviews/desk/john@2x-desctop.png 2x
          "
          type="image/webp"
        />
        <!-- Набір зображень для планшетних екранів -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/reviews/desk/john@1x-desctop.png 1x,
            ./images/reviews/desk/john@2x-desctop.png 2x
          "
          srcset="
            ./images/reviews/desk/john@1x-desctop.png 1x,
            ./images/reviews/desk/john@2x-desctop.png 2x
          "
          type="image/webp"
        />
        <!-- Набір зображень для мобільних екранів -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/reviews/desk/john@1x-desctop.png 1x,
            ./images/reviews/desk/john@2x-desctop.png 2x
          "
          type="image/webp"
        />

        <img
          class="reviews__img"
          src="./images/reviews/desk/john@1x-desctop.png 1x,"
          alt="flour in a bowl"
          width="84"
          height="73"
        />
      </picture>
      <div class="reviews__star">
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
      </div>
      <p class="reviews__name">John</p>
    </li>

    <li class="reviews__item reviews__item--will">
      <img
        src="./images/reviews/pic.jpg"
        alt="фото человека"
        class="reviews__img"
      />
      <div class="reviews__star">
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
      </div>
      <p class="reviews__name">Will</p>
    </li>

    <li class="reviews__item reviews__item--elisabeth">
      <img
        src="./images/reviews/pic.jpg"
        alt="фото человека"
        class="reviews__img"
      />
      <div class="reviews__star">
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-all"></use>
        </svg>
        <svg class="reviews__icon">
          <use href="./images/sprite.svg#star-border"></use>
        </svg>
      </div>
      <p class="reviews__name">Elisabeth</p>
    </li>
  </ul>
  <p class="reviews__text">
    Last time I have visited a cooking course by Eva I was impressed with the
    way she explained everything to people. You can be sure you will manage to
    cook a delicious dish even if it is your first time in the kitchen! Thank
    you so much for the masterclass! Looking forward to the next one and highly
    recommend it to everyone!
  </p>
  <p class="reviews__counter">2/15</p>
</section>
