.footer {
    background-color: #ffffff;
    padding-top: 16px;
    padding-bottom: 20px;
}

.footer__socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    padding-left: 0;
}

.footer__social-item + .footer__social-item {
    margin-left: 16px;
}

.footer__icon {
    fill: #2E2520;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__telephone,
.footer__location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__number,
.footer__address {
    margin-left: 4px;

    font-size: 16px;
    line-height: 1.25;
    color: #2E2520;
}