body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 1036px;

  background-image: url(../images/header/bg/png/bg-mob.png);

  //   background-image: -webkit-image-set(
  //     url(../images/header/bg/webp/bg-mob.webp)
  //   );

  // tablet

  @include mq(tablet) {
    background-image: url(../images/header/bg/png/bg-tab.png);

    // background-image: -webkit-image-set(
    //   url(../images/header/bg/webp/bg-tab.webp)
    // );
  }

  // desktop

  @include mq(desktop) {
    background-image: url(../images/header/bg/png/bg-desk.png);

    // background-image: -webkit-image-set(
    //   url(../images/header/bg/webp/bg-desk.webp)
    // );
  }
}

.header-hero {
  overflow: visible;
  background-position: center;
  background-size: cover;
}
.header{
  text-align: center;
}
.logo{
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 40px;
  
}
.navigation{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(254, 243, 228, 0.9);
}
.navigation__item:not(:last-child){
  margin-bottom: 45px;
}