.hero {
  padding-top: 20px;
  text-align: center;
}

.hero__title {
  display: inline-block;
  font-family: 'Caveat Brush';
  font-size: 30px;
  line-height: 1.26;
  margin-bottom: 8px;
  width: 224px;
}

.hero__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 32px;
}

.hero__btn-reg {
  font-family: 'Caveat Brush';
  font-size: 18px;
  line-height: 1.27;
  color: #fff;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 40px;
  margin-bottom: 40px;

  background-color: $brown;
  border-radius: 25px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 16px;
  }
}

// donuts group

.donut-group {
  position: absolute;
}
