.burger-btn{
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 0px;
    padding: 0;
    background-color: #FEF3E4;

    z-index: 10;
}
.burger-btn .icon-close{
    display: none;
}
.burger-btn.is-open .icon-close{
    display: block;
}
.burger-btn.is-open .icon-burger{
    display: none;
}