.reviews {
  // Потом исправить!
  padding-top: 20px;
  padding-bottom: 32px;
  &__title {
    font-family: 'Caveat Brush';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }
  &__list {
    margin-top: 20px;
    margin-bottom: 32px;
  }
  .reviews__item--active {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  &__item {
    display: none;
  }
  &__img {
    margin: 0 auto;
  }
  &__star {
    margin-bottom: 8px;
    margin-top: 8px;

    display: flex;
    justify-content: center;
  }
  &__icon {
    display: block;
    width: 24px;
    height: 24px;
  }
  &__icon:not(:last-child) {
    margin-right: 4px;
  }
  &__name {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: $font-color-dark;
  }
  &__text {
    margin-top: 8px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: $brown;
    &::after {
      content: '';
      margin-left: 11px;
      display: block;
      width: 35px;
      height: 1px;
      background-color: $brown;
    }
    &::before {
      content: '';
      margin-right: 11px;
      display: block;
      width: 35px;
      height: 1px;
      background-color: $brown;
    }
  }
}

@media screen and(min-width: 768px) {
  .reviews {
    // Потом исправить!
    padding-top: 50px;
    padding-bottom: 40px;
    &__list {
      margin-top: 0;
      position: relative;
      display: flex;
    }
    &__item {
      display: block;
    }
    .reviews__item--active {
      margin-top: 60px;
    }
    &__text {
      margin-top: 20px;
    }
  }
}

@media screen and(min-width: 1280px) {
  .reviews {
    // Потом исправить!
    padding-top: 76px;
    padding-bottom: 60px;
    &__title {
      margin-bottom: 0;
    }
    &__list {
      margin-top: 35px;
    }
    &__item {
      display: block;
    }
    .reviews__item--active {
      margin-top: 143px;
    }

    &__text {
      margin-top: 20px;
    }
  }
}
